<!DOCTYPE html>
<html>
<head>
  <title><%= user.name %>'s Applications</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
  <h1><%= user.name %>'s Job Applications</h1>
  <nav>
    <a href="/">Home</a> |
    <a href="/applications/add">Add New Application</a>
  </nav>
  <ul>
    <% applications.forEach(app => { %>
      <li>
        <strong><%= app.company %></strong> - <%= app.position %> (<%= app.status %>)  
        | <a href="/applications/<%= app.userName %>/<%= app.id %>/edit">Edit</a>
      </li>
    <% }) %>
  </ul>
</body>
</html>